include tiny_dng_loader.h
include tiny_dng_writer.h
include python/python-bindings.cc
include python/tinydng/__init__.py
include pyproject.toml
include setup.py
include README.md
include LICENSE
include stb_image.h
include miniz.c
include miniz.h
include miniz.LICENSE
